/* Backround Wallpaper CSS */

.background-new {background-image:  url('../img/background_image.jpeg'); background-size: cover; background-repeat: repeat-x; background-position: top; background-attachment: fixed}

/* Page Layout Boxes */

      
    /* Top Section */ 

.HeaderBox {display: flex; flex-direction: column; flex-wrap: none; height: 300px;}

.HeaderBox_rooms {background-image:  url('../img/background_image.jpeg'); background-size: cover; background-repeat: repeat-x; background-position: top; background-attachment: fixed; display: flex; flex-direction: column; flex-wrap: none; height: 300px;}
    
.TextId1 {color: #224884; font-family: 'Tangerine', serif; font-size: 80px; text-shadow: 4px 4px 4px #aaa; text-align: center; margin: 20px 20px 20px 20px;}
.TextId2a {color: #224884; font-family: 'Tangerine', sans-serif; font-size: 300%; text-shadow: 5px 5px 5px #aaa; text-align: center;}
.TextId2b {color: #224884; font-family: 'Tangerine', sans-serif; font-size: 300%; text-shadow: 5px 5px 5px #aaa; text-align: center;}
.x {float: center;}
    /* Menu Bar */ 

.SpaceBox {display: flex; justify-content: space-between; border-top-style: solid; border-bottom-style: solid;  height: 100px; border-color: #224884;}

.TBox2 {flex-direction: row; padding: 20px; margin: 10px 10px; width: 250px;  height: 30px;  font-family: 'Tangerine', serif; font-size: 200%; text-shadow: 5px 5px 5px #aaa; text-align:center;} 

.TextId3 {color: #224884; font-family: 'Tangerine', serif; font-size: 40px; text-shadow: 2px 2px 2px #aaa; margin: 10px 10px; text-decoration: none;}

.subscribe {margin: 10px 20px 10px 10px;}


.SpaceBox1 {display: flex; justify-content: space-around; font-size: 10em; padding: 15px; height: 50px;}


/* Social Media CSS - from www.joevengels.de */

.icon-button {
  background-color: black;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}


/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}





.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}



.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-pinterest {
  color: #cb2027;
}




.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  body {

    padding: 10px;
  }
  .pinterest {
   display: none; 
  }

}


    /* Middle Section - 1 */

#MiddleBox1 {display: flex; flex-wrap: wrap; justify-content: space-around; border-bottom-style: solid; height: 800px; border-color: #224884;}

.MBox1 {width: 700px;  height: 800px;} 

.MBox2 {display: flex; flex-wrap: wrap; justify-content: center;  width: 700px;  height: 800px;} 

.MBox3 {margin: 20px 20px 20px 20px; width: 300px;  height: 200px;} 

.image_position {height: 200px; width: 300px;}

.TextId4 {color: #224884; font-family: 'Tangerine', sans-serif; font-size: 210%; text-shadow: 10px 10px 10px #aaa;}


/* Bottom Section */
    
#BottomBox {display: flex; flex-direction: row; border-style: solid; height: 150px; border-color: #000000; background-color: #D3D3D3;}

.BoxinBottomBox {margin: 20px 20px 20px 20px;  border-style: solid; width: 220px;  height: 30px; border-color: #000000; background-color: #ffffff;}

.Box2 {flex-direction: column; margin: 20px 20px 20px 20px;  border-style: solid; width: 220px;  height: 30px; border-color: #000000; background-color: #ffffff;}

.FooterBox {height: 300px; }

.TextId6 {text-align: center; color: #224884; font-family: 'Tangerine', sans-serif; font-size: 200%; text-shadow: 10px 10px 10px #aaa;}


*{
    padding: 0;
    margin: 0;
    color: #FFF;
}

body{
    background-color: #ededed;
}

.container{
    overflow: hidden;
    z-index: 10;
    position: relative;
    margin: 150px auto;
    height: 90px;
    width: 300px;
    background-color: #F17022;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}


/*  BACKGROUND  */

.Circle1{
    z-index: 100;
    position: absolute;
    height: 80px;
    width: 80px;
    right: -20px;
    top: -30px;
    border-radius: 50%;
    background-color: rgba(253,184,19,1);
    animation: enlarge;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.Circle2{
    z-index: 80;
    position: absolute;
    height: 150px;
    width: 150px;
    right: -50px;
    top: -70px;
    border-radius: 50%;
    background-color: rgba(246,140,31,0.7);
    
    animation: enlarge;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.Circle3{
    z-index: 50;
    position: absolute;
    height: 200px;
    width: 200px;
    right: -50px;
    top: -100px;
    border-radius: 50%;
    background-color: rgba(241,125,45,0.7);
    
    animation: enlarge;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}



/*  CONTENT  */

.sun{
    z-index: 1000;
    font-size: 15px !important;
}

.Condition{
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    left: 20px;  
    top: 10px;
}

.Temp{
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 400;
    left: 20px;
    bottom: 5px;
}

#F{
    z-index: 1000;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 30px;
}


.Time{
    z-index: 1000;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    right: 20px;
    top: 10px;
}

.locationIcon{
    z-index: 1000;
    font-size: 10px !important;
}

.Location{
    z-index: 1000;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 200;
    right: 20px;
    bottom: 15px;
}

@keyframes enlarge{
    50%{
        transform: scale(1.2);
    }
}

/* RoomsBelow */

.background_rooms {background-color: rgba(201, 217, 241, 0.7);}

.parentRooms {
    
	height: 185px;
	display: flex;
	flex-wrap: wrap;
}

.headerBoxRooms {
    
    height: 185px;
    background-image: url("../img/background_image.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerRooms1 {
	color: #224884;
	font-family: 'Tangerine', serif;
	font-size: 80px;
	text-shadow: 4px 4px 4px #aaa;
	text-align: center;
	margin: 20px 20px 20px 20px;
}

.menuBoxRooms {
    display: flex;
	justify-content: space-around;
	border-style: solid;
    width: 1185px;
	height: 60px;
	border-color: #976038;
    padding: 3px 5px 6px 7px; 
}

.menuItemsRooms {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuButtonRooms {
    display: inline;
    color: #224884;
	font-family: 'Tangerine', serif;
	font-size: 45px;
	text-shadow: 4px 4px 4px #aaa;
	text-align: center;
	padding: 30px 70px 6px 10px;
}

.roomChoices {
    background-color: rgba(201, 217, 241, 0.7);
    
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.villas {
    width: 250px;
    height: 300px;
}

.roomTitle {
    font-family: 'Tangerine', serif;
	font-size: 45px;
    color: #224884;
}

.villaDescript {
    font-family: 'Tangerine', serif;
	font-size: 45px;
    color: #224884;
    padding-top: 20px;
}

/* RESTAURANT */

.NamesRectangle
{
    display: flex;
	justify-content: space-around;
	height: 60px;
	padding-top: 20px;
}

.restrnt
{
    display: flex;
    justify-content: space-around;
    
    
    height: 60px;
    display: inline;
    text-shadow: 4px 4px 4px #aaa;
	text-align: center;
}

#restname
{
    font-family: 'Tangerine', serif;
	font-size: 55px;
    color: #224884; 
    
}

.bar
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: flex-end;
    
    width: 450px;
    height: 60px;
    display: inline;
    text-shadow: 4px 4px 4px #aaa;
	text-align: center;
}

#barname
{
    font-family: 'Tangerine', serif;
	font-size: 55px;
    color: #224884;
}

.PicsRectangle
{
    display: flex;
    justify-content: center;
    height: 1000px;
}

#Food
{
    display: flex;
   flex-direction: column;
   justify-content: center;
   
    
    border-color: #224884;
    width: 750px;
    height: 1000px;
}

#Drink
{
    display: flex;
   flex-direction: column;
   justify-content: center;
    width: 450px;
    height: 1000px;
}

.BottomRectangle
{
    display: flex;
    display: block;
    justify-content: space-around;
    align-items: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #224884;
    
    height: 220px; 
    font-family: 'Tangerine', sans-serif; 
    font-size: 200%;
    color: #224884;
    text-shadow: 10px 10px 10px #aaa; 
    
}

.MealChoices
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    
}

#BoxBfast
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 55px;
    border-bottom-style: solid;
    border-color: #224884;
    font-family: 'Tangerine', serif; 
    
}

#BoxLunch
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 55px;
    border-bottom-style: solid;
    border-color: #224884;
}

#BoxDinner
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 55px;
    border-bottom-style: solid;
    border-color: #224884;
}

#BoxBar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 55px;
    border-bottom-style: solid;
    border-color: #224884;
}

.ReserveRestaurant
{
    text-align: center;
    width: 1200px;
    height: 50px;
    display: inline;
	font-family: 'Tangerine', serif;
	font-size: 25px;
    color: #224884;
    
}

.ReserveOptions
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 50px;
    
}

#reserve
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    display: inline;
	font-family: 'Tangerine', serif;
	font-size: 25px;
    color: #224884;
    
}

#web
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    display: inline;
	font-family: 'Tangerine', serif;
	font-size: 20px;
    color: #224884;
    
}

#phone
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    display: inline;
	font-family: 'Tangerine', serif;
	font-size: 20px;
    color: #224884;
    
}

.y {color: #224884;}

.MBox4 {margin: 20px 20px 20px 20px; width: 400px;  height: 280px; float: center;} 

.image_position1 {height: 280px; width: 400px;}
